doctype html
html(lang='ru')
  head
    title My SmartHouse
    meta(charset="utf-8")
 
    script(src='./script/jquery-3.0.0.min.js')
    script(src='./script/jquery.scrollify.min.js')
    script(src='./script/script.js' defer)

    link(rel='stylesheet', type='text/css', href='./css/style.css')

    mixin nav(...items)
      nav
        ul
          each item in items
            li
              a(href= '#'+ item)= item
   
  body
    header
      div.section-class-name(data-section-name="header")
        div.logo
          h1 My SmartHouse
        div.menuFull
          +nav('main', 'about', 'services', 'contacts')
        div.menuShort
        div.thesis
    main  
      div.section-class-name(data-section-name="main")
        div
          p Test
      div.section-class-name(data-section-name="footer")






 
      
    
    