doctype html
html(lang='ru')
  head
    title My SmartHouse
    meta(charset="utf-8")
 
    script(src='./jquery-3.0.0.min.js')
    script(src='./jquery.scrollify.min.js')
    script(src='./script.js' defer)

    link(rel='stylesheet', type='text/css', href='./css/style.css')
   
  body
    div.section-class-name(data-section-name="header", style="background: red; hight: 100 px")
    div.section-class-name(data-section-name="main")
    div.section-class-name(data-section-name="footer")






 
      
    
    