doctype html
html(lang='ru')
  head
    title My SmartHouse
    meta(charset="utf-8")
 
    script(src='./script/jquery-3.0.0.min.js')
    script(src='./script/jquery.scrollify.min.js')
    script(src='./script/script.js' defer)

    link(rel='stylesheet', type='text/css', href='./css/style.css')

    mixin navUl(...items)
      nav
        ul
          each item in items
            li
              a(href= '#'+ item)= item

    mixin navSelect(...items)
      nav
        select(onChange="window.location.href=this.value")
          each item in items
            option(value= '#'+ item)= item
   
  body
    header
      div#main.section-class-name(data-section-name="_main")
        div.logo
          img(src='./css/logo.png', alt='My SmartHouse')
          h1 My SmartHouse
        div.menuFull
          +navUl('main', 'about', 'services', 'contacts')
        div.menuShort
          +navSelect('main', 'about', 'services', 'contacts')
        div.thesis
    main  
      div#about.section-class-name(data-section-name="_about")
        div
          p Test
      div#services.section-class-name(data-section-name="_services")
      div#contacts.section-class-name(data-section-name="_contacts")






 
      
    
    