a,
ul {
  all: unset;
}
body {
  background-size: 100%;
  background-image: url("header.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 440px) {
  .menuShort {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .menuFull {
    display: none;
  }
  .menuShort {
    display: block;
  }
}
.section-class-name {
  margin: 0px 50px;
  padding-top: 10px;
}
.logo {
  width: 320px;
  height: 230px;
  background-color: #ffffff;
}
.logo img {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}
.logo h1 {
  padding-left: 15px;
}
.menuFull li {
  list-style-type: none;
  text-transform: uppercase;
  color: #ffffff;
}
.menuFull {
  width: 70px;
  background-color: #000000;
  padding: 35px 30px;
  position: relative;
  left: 250px;
  top: -200px;
}
.menuShort select {
  width: 320px;
  text-align-last: center;
  text-transform: uppercase;
}
